html {
    font-size: 10px;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}



body {
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-family: 'Ubuntu-Light';
    font-size: 1.6rem;
    color: #2f3234;
}

.clear-fix:before, .clear-fix:after {
    content: "";
    display: table;
}

.clear-fix:after {
    clear: both;
}

.container::after, .container::before {
    content: '';
    display: table;
}

.container::after {
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    //overflow: hidden;
    min-width: 960px;
    height: 100%;
}

.btn {
    display: inline-block;
    vertical-align: top;
    background: #e45028;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 9px 16px;
    font-family: 'Ubuntu-Medium';
    transition: background .3s;
    
    &:hover {
        background: #c1401e;
    }
}

.maincontent {
    height: 100%;
    transition: 1s;
}

.section {
    height: 100%;
    height: 100vh;
    min-height: 650px;
    z-index: 1;
    
}

.hero {
    background: url(/dist/assets/img/bg/hero-bg.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

.header__logo {
    float: left;
    width: 32%;
}

.logo {
    display: inline-block;
}

.header__menu {
    float: left;
    width: 68%;
    padding-top: 16px;
    letter-spacing: -2px;
    font-size: 0;   
}

.nav {
    width: 83%;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: normal;
}

.nav__list {
    width: 100%;
}

.nav__item {
    white-space: nowrap;
    margin-right: 15px;
    display: block;
    float: left;
    
    &:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: white;
        margin-left: 15px;
    }
    
    &:last-child:after {
        display: none;
    }
}

.nav__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu-Medium';
    
    &:hover {
        text-decoration: underline;
    }
}

.order-link {
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    padding: 9px 0;
    margin-left: 2%;
    letter-spacing: normal;
    
    &:hover{
        background: #c1401e;
    }
}

// .hero__container {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     left: 0;
//     right: 0;
// }

.hero .container {
    position: relative;
}

.hero__left {
    float: left;
    width: 50%;
}

.hero__img {
    display: inline-block;
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.hero__right {
    float: left;
    width: 50%;
    padding-top: 115px;
}

.section__title {
    color: #f9b43b;
    font-size: 72px;
    font-family: 'Gagalin-Regular';
    margin-bottom: 12px;
}

.hero__desc {
    font-size: 65px;
    color: white;
    font-family: 'Lifehack-Medium';
    text-transform: lowercase;
    line-height: 1em;
}

.down-arrow {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.down-arrow__icon-wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.down-arrow svg {
    width: 30px;
    height: 30px;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
    top: 0;
}

.down-arrow__icon {
    fill: #fff;
    display: block;
}

.down-arrow:hover svg {
    top: -10px;
    width: 35px;
    height: 35px;
}

.first-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.6;
}



//////////////second screen

.best {
    background: url(/dist/assets/img/bg/best.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.best .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title__we {
    margin: 0 auto 80px;
    color: #000;
}

.best__item {
    vertical-align: top;
    width: 33.3%;
    padding: 0 10px;
    float: left;
}

.best__icon-image {
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}

.best__title {
    font-size: 24px;
    font-family: 'Lifehack-Medium';
    color: #2f3234;
    margin-bottom: 20px;
}

.best__text {
    font-family: 'Ubuntu-Light';
}

/////////////////////burgers

.burgers {
    background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 40%, #eb8c38 60%, #eb8c38 60%, #f9b43b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b', GradientType=0);
    
}

.burgers .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.burger-slider-wrap {
    position: relative;
}

.slide-item {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 85px;
}

.burgers-slider__left {
    float: left;
    width: 50%;
    padding-top: 95px;
}

.burgers-slider__pic {
    max-width: 100%;
}

.burgers-slider__right {
    float: right;
    width: 49%;
}

.burgers-slider__right .section__title {
    line-height: 1.1em;
}

.burgers .section__title {
    margin-bottom: 15px;
}

.section__title.section__title_white {
    color: white;
}

.burgers-slider__text {
    color: white;
    margin-bottom: 18px;
}

.burgers-slider__price {
    display: inline-block;
    vertical-align: middle;
    color: #e35028;
    font-family: 'Gagalin-Regular';
}

.burgers-slider__price-amount {
    font-size: 72px;
}

.burgers-slider__price-amount, .burgers-slider__price-measure {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
}

.burgers-slider__price-measure {
    font-size: 30px;
}

.burgers-slider__buy {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 32px;
}

.burger-slider__btn_next {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.burger-slider__btn_next {
    right: -45px;
}

.burger-slider__btn_next, .burger-slider__btn_prev {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
}

.burger-slider__arrow {
    fill: #fff;
    display: block;
    height: 30px;
    width: 35px;
    transition: .3s;
}

.burger-slider__btn_prev {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.burger-slider__btn_prev {
    left: -42px;
}

.burger-slider__btn_next {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.burger-slider__btn:hover .burger-slider__arrow {
    width: 40px;
}

.ingredients {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    background: rgba(227, 80, 40, 0.4);
    width: 90px;
    height: 90px;
    border-radius: 5px;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 10;
    
    &:hover {
        background: #e35028;
        
        .ingredients__dropdown {
            left: 100%;
            opacity: 1;
        }
    }
    
    
}

.ingredients__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ingredients__burger-icon {
    width: 46px;
    height: 50px;
    fill: #fff;
    display: block;
}

.ingredients__icon-text {
    color: white;
    font-size: 14px;
    font-family: 'Gagalin-Regular';
} 

.ingredients__dropdown {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 270px;
    border-radius: 7px;
    left: -9999px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    z-index: 10;
    
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 30px;
        left: -29px;
    }
}

.indredients__table {
    width: 100%;
}

.ingredients__table-cell {
    vertical-align: middle;
    padding: 8px 0;
    font-family: 'Ubuntu-Light';
    color: #2f3234;
}

.ingredients__table-icon-image {
    max-width: 45px;
    max-height: 50px;
}

.burger-weight {
    position: absolute;
    bottom: 0px;
    left: 0;
    opacity: .5;
}

.burger-weight__measure {
    background: url(../img/icons/kkal.svg) 50% no-repeat;
    width: 65px;
    height: 60px;
    position: relative;
}

.burger-weight__amount {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Gagalin-Regular';
}

.burger-weight__title {
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: 'Gagalin-Regular';
}

///////////////
.team {
    background: url(../img/bg/team.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
}

.team__section {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    background: rgba(47, 50, 52, 0.93);
    padding: 5% 2% 0% 7%;
}

.team .section__title {
    margin-bottom: 12%;
}

.section__title {
    color: #f9b43b;
    font-size: 72px;
    font-family: 'Gagalin-Regular';
    margin-bottom: 12px;
}

.team-acco {
    padding-left: 17px;
}

.team-acco__item {
    margin-bottom: 40px;
}

.team-acco__item.active .team-acco__trigger {
    color: #f9b43b;
}

.team-acco__item.active .team-acco__trigger:before {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.team-acco__trigger {
    color: #fff;
    font-size: 14px;
    font-family: 'Gagalin-Regular';
    text-decoration: none;
    position: relative;
    display: block;
}

.team-acco__trigger:before {
    border-top: 7px solid #f9b43b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    transition: .3s;
}

.team-acco__trigger:before, .team-acco__trigger:after {
    content: "";
    display: block;
    position: absolute;
    left: -18px;
    top: 8px;
    width: 0;
    height: 0;
}

.nav__list:before, .menu-acco:before, .order__form:before, .order__form-row:before, .reviews__list:before, .team-acco__content:before, .nav__list:after, .menu-acco:after, .order__form:after, .order__form-row:after, .reviews__list:after, .team-acco__content:after {
    content: "";
    display: table;
}

.nav__list:after, .menu-acco:after, .order__form:after, .order__form-row:after, .reviews__list:after, .team-acco__content:after {
    clear: both;
}



.team-acco__content {
    padding-top: 14px;
    display: none;
}

.team-acco__pic {
    float: left;
    text-align: center;
    width: 30%;
}

.team-acco__img {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.team-acco__text {
    float: left;
    width: 70%;
}

.team-acco__title {
    font-family: 'ubuntubold';
    font-size: 14px;
    color: #fff;
    margin-bottom: 14px;
}

.team-acco__text-content {
    font-family: 'Ubuntu-Light';
    color: #fff;
    font-size: 14px;
}

////////////////////////////////////menu

.menu {
    background: url(/dist/assets/img/bg/menu.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
}

.section__title.section__title_white {
    color: white;
}

.menu__title {
    position: absolute;
    top: 10%;
    left: 10%;
}

.menu-acco {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.menu-acco__item {
    float: left;
    height: 100%;
}

.menu-acco__trigger {
    width: 80px;
    display: block;
    height: 100%;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-decoration: none;
    position: relative;
}

.menu-acco__trigger-text {
    font-size: 40px;
    color: #fff;
    font-family: 'Gagalin-Regular';
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-align: center;
    white-space: nowrap;
    width: 650px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: -275px;
    margin-top: -40px;
}

.menu-acco__content {
    height: 100%;
    float: left;
    background: rgba(47, 50, 52, 0.93);
    width: 0;
    overflow: hidden;
}

.menu-acco__text {
    font-family: 'Ubuntu-Light';
    font-size: 14px;
    color: #fff;
    padding: 60px 30px;
    width: 550px;
    line-height: 1.8;
}

//////////////////////reviews

.reviews {
    background: #000;
}

.reviews__list {
    height: 100%;
}

.reviews__item {
    float: left;
    width: 25%;
    height: 50%;
    position: relative;
}

.review {
    position: relative;
    width: 100%;
    height: 100%;
    
    &:hover .review__hover {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
}

.review__photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
}

.review__hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    background: rgba(20, 20, 20, 0.7);
    padding: 17% 12% 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.review__title {
    color: #fff;
    font-family: 'Gagalin-Regular';
    font-size: 14px;
    margin-bottom: 25px;
}

.review__shorttext {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Ubuntu-Light';
    margin-bottom: 13px;
}

.review__view {
    border-radius: 5px;
    background-color: #2f3234;
    padding: 8px 12px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Ubuntu-Medium';
    font-size: 12px;
    -webkit-transition: .3s;
    transition: .3s;
}


//////////////order

.order {
    background: url('/dist/assets/img/bg/order.jpg') 50% no-repeat;
    background-size: cover;
}

.order .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.order .section__title {
    text-align: center;
}

.order__form {
    margin-left: -5%;
    font-family: 'Ubuntu-Light';
}

.order__form-col {
    float: left;
    width: 45%;
    margin-left: 5%;
}

.order__form-row_double {
    margin-left: -20px;
}

.order__form-row {
    margin-bottom: 16px;
}

.order__form-row_double .order__form-block {
    float: left;
    width: calc(~"100%/2 - 20px");
    margin-left: 20px;
}

.order__form-block {
    display: block;
}

.order__form-label {
    margin-bottom: 17px;
    font-family: 'Ubuntu-Light';
    color: #fff;
    font-size: 14px;
}

.order__form-input {
    font-size: 14px;
    padding: 10px;
    padding: 5px 10px;
    border: 1px solid #d1cfcb;
    border-radius: 5px;
    width: 100%;
}

.order__form-row_quatro {
    margin-left: -20px;
}

.order__form-row_quatro .order__form-block {
    float: left;
    width: calc(~'100% / 4 - 20px');
    margin-left: 20px;
}

.order__form-input_textarea {
    height: 110px;
    resize: vertical;
}

.order__radio {
    position: relative;
    white-space: nowrap;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.order__radio-elem {
    position: absolute;
    top: 0;
    left: -9999px;
}

.order__radio-fake {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.order__radio-elem:checked+.order__radio-fake:after {
    width: 8px;
    height: 8px;
}

.order__radio-fake:after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #e35028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    transition: width .3s, height .3s;
}

.order__radio-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
}

.order__radio_checkbox .order__radio-fake {
    border-radius: 0px;
}

.order__radio_checkbox .order__radio-elem:checked+.order__radio-fake:after {
    background: url(../img/icons/check.svg) 50% no-repeat transparent;
    background-size: contain;
    width: 11px;
    height: 9px;
}

.order__radio_checkbox .order__radio-elem+.order__radio-fake:after {
    background: transparent;
}

.order__form-button {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    border: 0;
    background: #e35028;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
}

.order__form-button_reset {
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
    background: transparent;
}

.footer {
    background: url(../img/bg/footer.jpg) center bottom no-repeat;
    height: 60px;
    background-size: cover;
    padding-top: 10px;
    font-family: 'Ubuntu-Light';
}

.footer__col {
    float: left;
    width: 50%;
}

.footer__address {
    color: #ffffff;
    font-size: 14px;
}

.footer__phone {
    color: #e35028;
    font-family: 'Ubuntu-Medium';
    text-decoration: none;
    font-size: 14px;
}

.footer__col_right {
    text-align: right;
    padding-top: 9px;
}

.socials {
    position: relative;
    top: 50%;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

.socials__link {
    display: inline-block;
    max-width: 23px;
    max-height: 20px;
    opacity: .3;
    -webkit-transition: .3s;
    transition: .3s;
    
    &:hover {
        opacity: 1;
    }
}

.socials__icon {
    display: block;
    width: 23px !important;
    height: 23px !important;
    fill: #fff;
}

.fancybox-overlay {
    background: rgba(47, 50, 52, 0.92);
}

.full-review {
    padding: 25px 20px;
    position: relative;
}

.full-review__close {
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: .7;
    -webkit-transition: .3s;
    transition: .3s;
}

.full-review__close svg {
    width: 100%;
    height: 100%;
}

.full-review__title {
    font-family: 'Gagalin-Regular';
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.full-review__content {
    font-size: 14px;
    font-family: 'Ubuntu-Light';
}

.fancybox-close-small {
    display: none;
}

.full-review__inner{
    overflow: auto; width: 460px;
}

.parsley-errors-list.filled{
    background: rgba(200, 200, 200, .5);
    color: red;
    li{
        padding: 4px 0;
    }
}






















