@vendorFontsUrl: '/source/vendor/fonts';

/* font-family: "Gagalin-Regular"; */
@font-face {
    font-family: "Gagalin-Regular";
    src: url("@{vendorFontsUrl}/Gagalin-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}